@model IPagedList<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Submitter"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <p>
        @Html.Raw("Sort Tickets By: ")
        @Html.DropDownList("SelectFilter", (SelectList)ViewBag.Values, new { onchange = "this.form.submit();" })
        @Html.Hidden("UserId", (object)ViewBag.UserId)
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.Label("ProjectName")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.Label("AssignedUser")
        </th>
        <th>
            @Html.Label("OwnerUser")
        </th>
        <th>
            @Html.Label("Type")
        </th>
        <th>
            @Html.Label("Priority")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Updated)
        </th>
        <th>
            @Html.Label("Comments")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.ActionLink(item.TicketComments.Count.ToString(), "Index", "TicketComments", new { ticketId = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("AddComment", "Create", "TicketComments", new { id = item.Id }, null) |
                @Html.ActionLink("AddAttachment", "Index", "TicketAttachments", new { ticketId = item.Id }, null)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), page }))
