@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
    {


        <div>
            <div class="jumbotron">

                <div class="row">

                    <div class="col-md-6 text-left">
                        <h1>PROJECTS</h1>
                        <p class="lead">Check the projects</p>
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                            <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
                            }
                            else
                            {
                            <p><a href = "@Url.Action("ShowMyProjects", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
                        }
                    </div>

                    <div class="col-md-6 text-right">
                        @if (User.IsInRole("Developer"))
                        {
                            <h5>NOTIFICATIONS</h5>
                            <p><a class="btn btn-danger" href="@Url.Action("Index", "TicketNotifications", new { userId = User.Identity.GetUserId() })">Notifications</a></p>
                        }
                    </div>

                </div>

            </div>

            <div class="jumbotron" style="background-color: transparent">

                <div class="row">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-3 text-center">
                            <h4>Admin Tickets</h4>
                            <h5>Check all tickets</h5>
                            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Admin" })">Go to tickets &raquo;</a></p>
                        </div>
                    }

                    @if (User.IsInRole("ProjectManager"))
                    {
                        <div class="col-md-3  text-center">
                            <h4>Project Tickets</h4>
                            <h5>On my projects</h5>
                            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "ProjectManager" })">Go to tickets &raquo;</a></p>
                        </div>
                    }

                    @if (User.IsInRole("Developer"))
                    {
                        <div class="col-md-3 text-center">
                            <h4>Developer</h4>
                            <h5>Assigned tickets</h5>
                            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Developer" })">Go to tickets &raquo;</a></p>
                        </div>
                    }

                    @if (User.IsInRole("Submitter"))
                    {
                        <div class="col-md-3 text-center">
                            <h4>Submitter</h4>
                            <h5>Tickets Submittered</h5>
                            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Submitter" })">Go to tickets &raquo;</a></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h1>Welcome to the BugTracker System.</h1>
            <h1>Please wait the <span style="color:green">Admin</span> to assign your <span style="color:red">Roles</span>.</h1>
        </div>
    }
}
else
{
    <div class="jumbotron">
        <h1>Welcome to the BugTracker System, please login.</h1>
    </div>
}