@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

    <div class="jumbotron">
        <h1>PROJECTS</h1>
        <p class="lead">Check the projects</p>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {            
            <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
        }
        else
        {           
            <p><a href="@Url.Action("ShowMyProjects", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
        }        
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>TICKETS</h2>
        <p>
            Check the tickets
        </p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action(ViewBag.Page, "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        @*@if (User.IsInRole("Admin"))
        {
            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        }
        else if (User.IsInRole("ProjectManager"))
        {
            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        }
        else if (User.IsInRole("Developer"))
        {
            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        }
        else if (User.IsInRole("Submitter"))
        {
            <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tickets &raquo;</a></p>
        }*@
    </div>
    <div class="col-md-4">
        <h2>NOTIFICATIONS</h2>
        <p>Check the notifications</p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "TicketNotifications", new { userId = User.Identity.GetUserId() })"> @ViewBag.NotificationToManager Notifications &raquo; <br /> @ViewBag.UnreadManager Unread</a></p>
    </div>    
</div>