@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
    {


<div>
    <div class="jumbotron">
        <h1>PROJECTS</h1>
        <p class="lead">Check the projects</p>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
        }
        else
        {
            <p><a href="@Url.Action("ShowMyProjects", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
        }

        <div class="row">
            @if (User.IsInRole("Developer"))
            {
                <div class="col-md-4">
                    <h2>NOTIFICATIONS</h2>
                    <p>Check the notifications</p>
                    <p><a class="btn btn-danger" href="@Url.Action("Index", "TicketNotifications", new { userId = User.Identity.GetUserId() })">Notifications</a></p>
                </div>
            }
        </div>
    </div>

    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-4">
                <h3>Admin Tickets</h3>
                <p>
                    Check all tickets
                </p>
                <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Admin" })">Go to tickets &raquo;</a></p>
            </div>
        }

        @if (User.IsInRole("ProjectManager"))
        {
            <div class="col-md-4">
                <h3>PM Tickets</h3>
                <p>
                    Check the tickets on my projects
                </p>
                <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "ProjectManager" })">Go to tickets &raquo;</a></p>
            </div>
        }

        @if (User.IsInRole("Developer"))
        {
            <div class="col-md-4">
                <h3>Developer</h3>
                <p>
                    Check my assigned tickets
                </p>
                <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Developer" })">Go to tickets &raquo;</a></p>
            </div>
        }

        @if (User.IsInRole("Submitter"))
        {
            <div class="col-md-4">
                <h3>Submitter</h3>
                <p>
                    Check the tickets
                </p>
                <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId(), role = "Submitter" })">Go to tickets &raquo;</a></p>
            </div>
        }
    </div>    
</div>
    }
    else
    {
        <div class="jumbotron">
            <h1>Welcome to the BugTracker System.</h1>
            <h1>Please wait the <span style="color:green">Admin</span> to assign your <span style="color:red">Roles</span>.</h1>
        </div>
    }
}
else
{
    <div class="jumbotron">
        <h1>Welcome to the BugTracker System, please login.</h1>
    </div>
}